@font-face {
  font-family: AbrahamLincoln;
  src: url("../../public/assets/fonts/AbrahamLincoln.ttf");
}

@font-face {
  font-family: CenturyGothic;
  src: url("../../public/assets/fonts/CenturyGothic.ttf");
}

.donateWrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.donateHeader {
  width: fit-content;
  margin: 50px auto !important;
  font-family: AbrahamLincoln;
  font-size: 48px !important;
  text-align: center;
}

p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: CenturyGothic;
  font-size: 20px !important;
}

.donateBtn {
  width: 75%;
  margin: 50px 12.5%;
}
