.mapImg {
  height: 204vw;
  width: 100vw;
  background-image: url(../../public/assets/CLHA/Resort_Map_wall.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.pinpoint {
  border: red 2px solid;
  position: absolute;
  cursor: pointer;
}

.modalImage {
  width: 90%;
  margin: 25px auto;
}

.shady_beach {
  height: 12vw;
  width: 12vw;
  bottom: 4vw;
  left: 34vw;
}

.surprise_park {
  height: 12vw;
  width: 12vw;
  bottom: 20vw;
  left: 64vw;
}

.lassens_resort {
  height: 12vw;
  width: 15vw;
  bottom: 81vw;
  left: 74vw;
}

.binyons_resort {
  height: 7vw;
  width: 10vw;
  bottom: 69vw;
  left: 63vw;
}

.toomeys_park {
  height: 6vw;
  width: 10vw;
  bottom: 63vw;
  left: 59vw;
}

.shamrock_inn {
  height: 5vw;
  width: 10vw;
  bottom: 58vw;
  left: 59vw;
}

.sans_souci_hotel {
  height: 5vw;
  width: 10vw;
  bottom: 53vw;
  left: 62vw;
}

.olsen_hotel {
  height: 12vw;
  width: 12vw;
  bottom: 36vw;
  left: 65vw;
}

.monon_park {
  height: 8vw;
  width: 12vw;
  bottom: 86vw;
  left: 13vw;
}

.webber_paisley_hotel {
  height: 6vw;
  width: 12vw;
  bottom: 37vw;
  left: 12vw;
}

.breuill_hotel {
  height: 5vw;
  width: 12vw;
  bottom: 49vw;
  left: 17vw;
}

.john_mitch_hotel {
  height: 4vw;
  width: 12vw;
  bottom: 54vw;
  left: 17vw;
}

.big3_inn {
  height: 4vw;
  width: 12vw;
  bottom: 58vw;
  left: 19vw;
}