.mapPinpoints {
  position: relative;
  height: 204vw;
  width: 100vw;
  z-index: 18;
}

.mapImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 15;
}

.modal_button {
  float: right;
}

.modal_subtitle {
  width: 75%;
}

.modal_title {
  width: 75%;
}

.modalImage {
  width: 90%;
  margin: 25px auto;
}

.pinpoint {
  z-index: 20;
  /* border: red 2px solid; */
  /* background-color: white;
  opacity: 0.5; */
  position: absolute;
  cursor: pointer;
}

.mapPinpoints .pinpoint {
  position: absolute;
  cursor: pointer;
}

.pinIcon {
  color: #234735;
  font-size: 2vw;
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translateY(-50%);
}

.yellowPin {
  color: #c8b72e;
}

.shady_beach {
  height: 12vw;
  width: 12vw;
  bottom: 4vw;
  left: 34vw;
}

.surprise_park {
  height: 12vw;
  width: 12vw;
  bottom: 20vw;
  left: 64vw;
}

.lassens_resort {
  height: 12vw;
  width: 15vw;
  bottom: 81vw;
  left: 74vw;
}

.binyons_resort {
  height: 7vw;
  width: 10vw;
  bottom: 69vw;
  left: 63vw;
}

.toomeys_park {
  height: 6vw;
  width: 10vw;
  bottom: 63vw;
  left: 59vw;
}

.shamrock_inn {
  height: 5vw;
  width: 10vw;
  bottom: 58vw;
  left: 59vw;
}

.sans_souci_hotel {
  height: 5vw;
  width: 10vw;
  bottom: 53vw;
  left: 62vw;
}

.olsen_hotel {
  height: 12vw;
  width: 12vw;
  bottom: 36vw;
  left: 65vw;
}

.monon_park {
  height: 8vw;
  width: 12vw;
  bottom: 86vw;
  left: 13vw;
}

.webber_paisley_hotel {
  height: 6vw;
  width: 12vw;
  bottom: 37vw;
  left: 12vw;
}

.breuill_hotel {
  height: 5vw;
  width: 12vw;
  bottom: 49vw;
  left: 17vw;
}

.john_mitch_hotel {
  height: 4vw;
  width: 12vw;
  bottom: 54vw;
  left: 17vw;
}

.big3_inn {
  height: 4vw;
  width: 12vw;
  bottom: 58vw;
  left: 19vw;
}

.cedar_lake_station {
  height: 6vw;
  width: 20vw;
  bottom: 62vw;
  left: 15vw;
}

.sigler_monon {
  height: 5vw;
  width: 11vw;
  bottom: 68vw;
  left: 24vw;
}

.gledenning_hotel {
  height: 5vw;
  width: 12vw;
  bottom: 73vw;
  left: 21vw;
}

.hunter_hotel {
  height: 5vw;
  width: 12vw;
  top: 80vw;
  left: 6vw;
}

.von_borstel_hotel {
  height: 5vw;
  width: 12vw;
  top: 75vw;
  left: 6vw;
}

.terrace_garden_beach {
  height: 6vw;
  width: 12vw;
  top: 34vw;
  left: 27vw;
}

.lakeview_hotel {
  height: 4vw;
  width: 5vw;
  top: 34vw;
  left: 44vw;
}

.bartells_resort {
  height: 4vw;
  width: 4vw;
  top: 34vw;
  left: 49vw;
}

.victors_beach {
  height: 4vw;
  width: 5vw;
  top: 35vw;
  left: 53vw;
}

.iron_lantern_inn {
  height: 4vw;
  width: 8vw;
  top: 35vw;
  left: 58vw;
}

.youngs_hotel {
  height: 4vw;
  width: 8vw;
  top: 43vw;
  left: 73vw;
}

.huntsmans_lodge {
  height: 4vw;
  width: 9vw;
  top: 47vw;
  left: 76vw;
}

.ellerys_inn {
  height: 4vw;
  width: 9vw;
  top: 57vw;
  left: 81vw;
}

.top_flight_hotel {
  height: 2.5vw;
  width: 8vw;
  top: 61vw;
  left: 83vw;
}

.sunset_hotel {
  height: 3vw;
  width: 8vw;
  top: 63.5vw;
  left: 84vw;
}

.midway_gardens {
  height: 5vw;
  width: 10vw;
  top: 62.5vw;
  left: 70.5vw;
}

.derby_hotel {
  height: 3vw;
  width: 8vw;
  top: 66.5vw;
  left: 84vw;
}

.burke_hotel {
  height: 3vw;
  width: 8vw;
  top: 76.5vw;
  left: 84vw;
}

.kennedy_hotel {
  height: 3vw;
  width: 8vw;
  top: 76.5vw;
  left: 84vw;
}

.cedar_point_hotel {
  height: 5vw;
  width: 10vw;
  top: 86.5vw;
  left: 61vw;
}

.stanleys_hotel {
  height: 5vw;
  width: 10vw;
  top: 96vw;
  left: 68vw;
}

/* This one specifically needs a yellow triangle in the center of it */
.potawatomi_summer_camp {
  height: 3vw;
  width: 4vw;
  top: 71vw;
  left: 86vw;
  background-color: #c8b72e;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
