@font-face {
  font-family: AbrahamLincoln;
  src: url("../../public/assets/fonts/AbrahamLincoln.ttf");
}

.visitWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.visitImg {
  width: 80%;
  margin: 0 auto;
}

.visitText {
  width: 80%;
  margin: 50px auto !important;
  margin-top: 0 !important;
}

.visitHeader {
  font-family: AbrahamLincoln !important;
  font-size: 48px !important;
}

p {
  margin: 20px auto !important;
  font-family: CenturyGothic;
  font-size: 20px !important;
}

.visitBtn {
  width: 75%;
  margin: 0 12.5%;
}
